{% extends "base.html" %}
{% block content %}
  <div class="p-4">
    <div class="d-flex align-items-baseline justify-content-start">
      <h3 class="fs-3">Bucolica</h3>
      <p class="ms-3 fw-bold">written by Virgil</p>
    </div>
    <div class="mt-4">
      <p>Tityre, tu patulae recubans sub tegmine fagi</p>
      <p>Siluestrem tenui musam meditaris auena;</p>
      <p>nos patriae finis et dulcia linquimus arua;</p>
      <p>nos patriam fugimus; tu, Tityre, lentus in umbra,</p>
      <p>formosam resonare doces Amaryllida siluas.</p>
      &nbsp;
      <p>O Meliboee, deus nobis haec otia fecit:</p>
      <p>namque erit ille mihi semper deus: illius aram</p>
      <p>saepe tener nostris ab ouilibus imbuet agnus.</p>
      <p>Ille meas errare boues, ut cernis, et ipsum </p>
      <p>ludere quae uellem calamo permisit agresti.</p>
    </div>
  </div>
{% endblock %}