{% extends "base.html" %}
{% from "macros/record.html" import render_record %}
{% block content %}
  <div class="p-4">
    <div class="fs-4 fw-semibold">Records - {{ variety }}</div>
    <div class="mt-1 mb-2 pb-1 d-flex align-items-center">
      <div style="margin-bottom: 0px !important;">
        {% include "includes/micro-hashtag.html" %}
      </div>
      <div class="fs-6 ms-1 fw-semibold">{{ growth }}</div>
      <a class="ms-2" href="{{ url_for('records.create', id=id) }}">
        {% include "includes/micro-document-plus.html" %}
      </a>
    </div>

    <div class="border-top d-flex">
      <table>
        {% for i in range(0, records|length, 2) %}
        <tr>
            <td class="align-top">{{ render_record(record=records[i]) }}</td>
            {% if i + 1 < records|length %}
            <td class="align-top">{{ render_record(record=records[i+1]) }}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>

{% endblock %}