{% extends "base.html" %}
{% block content %}
<div class="p-4">
  <div class="fs-4 fw-semibold">
    {% if id %}Update Growth{% else %}Add Growth{% endif %} - {{ variety }}
  </div>

  <div class="mt-4">
    <form method="POST"> 
      <div class="mb-3">
        {{ form.date.label }} {{ form.date(value=date) }}
      </div>
      <div class="d-flex mb-4">
        <div>{{ form.work.label }}</div>
        {% for subfield in form.work %}
          <div class="d-flex" id="radio-button">
              <input {% if loop.index - 1 == work %}checked {% endif %}type="radio" id="{{ subfield.id }}" name="work" value="{{ subfield.id[-1] }}">
              {{ subfield.label }}
          </div>
        {% endfor %}
      </div> 
      <input class="btn btn-outline-secondary text-primary" type="submit" value="submit">
    </form>
  </div>

  {% if id %}
  <div class="mt-4 mb-3 fs-5 fw-semibold">Delete Growth</div>
  <a class="btn btn-outline-secondary text-danger" href="{{ url_for('growth.delete', id=id) }}">Delete</a>
  {% endif %}
</div>


{% endblock %}