{% extends "base.html" %}
{% from "macros/subtitle.html" import render_subtitle %}

{% block content %}

<div class="w-75">
  {% set s = "Update Record" if id else "Add Record to " + variety + " " + growth %}
  {{ render_subtitle(s) }}

  <div class="pt-2 ps-3">
    <form enctype="multipart/form-data" method="POST"> 
      <div class="mb-3">
      {{ form.date.label }} {{ form.date(value=date, type="datetime-local") }}
      </div>
      <div class="mb-3">
        {{ form.title.label }} {{ form.title(size=20, value=title) }}
      </div>
      <div class="mb-4">
        {{ form.description.label }} {{ form.description(size=40, value=description) }}
      </div>
      <div class="mb-5 d-inline-flex">
        <div>
          <label for="formFile">Image</label>
        </div>
        <div style="margin-left: 4px;">
          <input style="border:1px solid rgb(118, 118, 118);" class="form-control form-control-sm" id="formFileSm" type="file" name="uploadFile">
        </div>
      </div>
      <div>
        <input class="btn btn-outline-secondary" type="submit" value="submit">
      </div>

    </form>

    {% if date %}
    <div class="mt-5 mb-4 fs-5 fw-semibold">Delete Record</div>
    <a class="btn btn-outline-secondary text-danger" href="{{ url_for('records.delete', id=id) }}">Delete</a>
    {% endif %}
    
  </div>
</div>

{% endblock %}