{% extends "base.html" %}
{% block content %}

  <div class="mt-2 p-3 mb-2 fs-5 d-flex align-items-end fw-semibold">
    <div class="mt-1 me-3">
      {% if date %}Update Record{% else %}Add Record{% endif %}
    </div>
    <div>{{ growth }} - {{ variety }}</div>
  </div>
  
  <div class="p-3">
    <form enctype="multipart/form-data" method="POST"> 

      <div class="mb-3">
       {{ form.date.label }} {{ form.date(value=date, type="datetime-local") }}
      </div>
      <div class="mb-3">
        {{ form.title.label }} {{ form.title(size=20, value=title) }}
      </div>
      <div class="mb-4">
        {{ form.description.label }} {{ form.description(size=40, value=description) }}
      </div>

      <div class="mb-5 d-inline-flex">
        <div>
          <label for="formFile">Image</label>
        </div>
        <div style="margin-left: 4px;">
          <input style="border:1px solid rgb(118, 118, 118);" class="form-control form-control-sm" id="formFileSm" type="file" name="uploadFile">
        </div>
      </div>

      <div>
        <input class="btn btn-outline-secondary" type="submit" value="submit">
      </div>

    </form>
  </div>

  {% if date %}
  <div class="p-3">
    <div class="mt-2 mb-4 fs-5 fw-semibold">Delete Record</div>
    <a class="btn btn-outline-secondary text-danger" href="{{ url_for('records.delete', id=id) }}">Delete</a>
  </div>
  {% endif %}

{% endblock %}