{% extends "base.html" %}
{% from "macros/subtitle.html" import render_subtitle %}

{% block content %}

<div class="w-75">
  {% set s = "Update Variety" if id else "Add Variety to " + species %}
  {{ render_subtitle(s) }}

  <div class="pt-2 ps-3">
    <div class="mb-5">
      <form method="POST"> 
        <div class="mb-3">
          {{ form.variety.label }} {{ form.variety(size=20, value=variety) }}
        </div>
        <div class="mb-4">
          {{ form.sort_no.label }} {{ form.sort_no(value=sort_no) }}
        </div>
        <input class="btn btn-outline-secondary text-primary" type="submit" value="submit">
      </form>
    </div>

    {% if id %}
    <h3 class="my-4 fs-4">Delete Variety</h3>
    <div class="d-flex align-items-center">
      <a class="btn btn-outline-secondary text-danger" href="{{ url_for('variety.delete', id=id) }}">
        Delete
      </a>
      <div class="text-danger">
        {% with messages = get_flashed_messages() %}
          <ul class="list-group list-group-flush">
            {% for message in messages %}
              <li class="list-group-item text-danger">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endwith %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}